<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.xuleix.mapper.UserDAO">

    <select id="findAll" resultType="com.test.xuleix.Model.User">
        select * from user
    </select>

    <select id="findById" parameterType="long" resultType="com.test.xuleix.Model.User">
        select * from user where id=#{id}
    </select>

    <insert id="add">
        insert into user(name, password) values(#{name}, #{password})
    </insert>

    <delete id="delete">
        delete from user where id=#{id}
    </delete>

    <update id="update">
        update user set name=#{name}, password=#{password} where id=#{id}
    </update>
</mapper>